In [1]:
import pandas as pd
from scipy.spatial.distance import cosine

In [3]:
data = pd.read_csv("../../datasets/groceries_cf.csv")

In [4]:
data.head()

   Person                 item
0       1         citrus fruit
1       1  semi-finished bread
2       1            margarine
3       1          ready soups
4       2       tropical fruit

# Item Item Recco

In [6]:
data["Quantity"] = 1 # since the column is missing

In [7]:
data.head()

   Person                 item  Quantity
0       1         citrus fruit         1
1       1  semi-finished bread         1
2       1            margarine         1
3       1          ready soups         1
4       2       tropical fruit         1

In [12]:
print("Total Records -> %s\nTotal Persons -> %s\nTotal Items -> %s"%(len(data), len(data["Person"].unique()), len(data["item"].unique())))

Total Records -> 43367
Total Persons -> 9835
Total Items -> 169

In [13]:
data["item"].value_counts()

whole milk                2513
other vegetables          1903
rolls/buns                1809
soda                      1715
yogurt                    1372
bottled water             1087
root vegetables           1072
tropical fruit            1032
shopping bags              969
sausage                    924
pastry                     875
citrus fruit               814
bottled beer               792
newspapers                 785
canned beer                764
pip fruit                  744
fruit/vegetable juice      711
whipped/sour cream         705
brown bread                638
domestic eggs              624
frankfurter                580
margarine                  576
coffee                     571
pork                       567
butter                     545
curd                       524
beef                       516
napkins                    515
chocolate                  488
frozen vegetables          473
                          ...
bathroom cleaner            27
soap                        26
cooking chocolate           25
pudding powder              23
tidbits                     23
cocoa drinks                22
organic sausage             22
prosecco                    20
flower soil/fertilizer      19
ready soups                 18
specialty vegetables        17
organic products            16
honey                       15
decalcifier                 15
cream                       13
frozen fruits               12
hair spray                  11
rubbing alcohol             10
liqueur                      9
salad dressing               8
whisky                       8
make up remover              8
toilet cleaner               7
baby cosmetics               6
frozen chicken               6
bags                         4
kitchen utensil              4
preservation products        2
sound storage medium         1
baby food                    1
Name: item, dtype: int64